doctype html
html
	include includes/head
	body
		.container
			.row.h-100.error-body
				.col-md-12.h-100.d-table
					.error-template.d-table-cell.align-middle
						h1.display-3 404
						h2 Not Found
						p.lead.error-details The requested page was not found on our server!
						.error-actions
							a.btn.btn-success.btn-lg(href='/') Take Me Home