.jumbotron.jumbotron-fluid.mt-4.mb-0
	.container
		.row
			.col-12.col-sm-12.col-md-6.col-lg-4
				ul.list-unstyled
					li
						a(href='https://twitter.com/railrunner166' rel='nofollow noopener' target='_blank')
							i.fab.fa-twitter &nbsp;
							span Follow Me on Twitter!
					li
						a(href='https://github.com/RailRunner166' rel='nofollow noopener' target='_blank')
							i.fab.fa-github &nbsp;
							span Check Out My GitHub!
			.col-12.col-sm-12.col-md-6.col-lg-8
				p.
					This project was built with #[i.fas.fa-heart] and #[i.fas.fa-code] by #[a(href='https://railrunner16.me' target='_blank') Landon Gravat]